$primary-color: #1266F1;
$secondary-color: #1266F1;
$success-color: #00B74A;
$danger-color: #F93154;
$warning-color: #FFA900;
$info-color: #39C0ED;
$light-color: #FBFBFB;
$dark-color: #262626;

$light-shadow: 0 5px 8px 0 rgba(255, 255, 255, 0.23);
